body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    max-width: 400px;
    margin: auto;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #575757;
}